/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Aug 7, 2019, 3:52:09 PM
    Author     : hotua
*/
*{margin: 0;padding: 0;box-sizing: border-box;}
#wrapper{
	width: 980px;
	height: 800px;
	background: green;
	margin: auto;
}
#header{
	width: 980px;
	height: 260px;
	background: #1AA3E9;
        text-align: center;

}
#headpic{
	width: 200px;
        height: 200px;
        margin-top: 60px;
}
#topmenu{
	width: 980px;
	height: 40px;
	background: blue;
	position: fixed;
	z-index: 10;
        padding-right: 15px;
        padding-left: 316px;
}
#topmenu ul li{
	list-style: none;
	float: left;
}
#topmenu ul li a{
	line-height: 40px;
	font-family: Tahoma;
	font-size: 14px;
	color: white;
	text-decoration: none;
	display: block;
	font-weight: bold;
	padding: 0px 15px;
}
#topmenu ul li a:hover{
	background: greenyellow;
	color: black;
}
#center{
	width: 980px;
	height: 465px;
	background: white;
	padding-top: 22px;
}
#innerCen{
	width: 980px;
	height: 422px;
	border: 1px solid black;
	background-image: url('images/bg.jpg');
}
#sp{
    width: 489px;
    height: 422px;
    /*background: palegreen;*/
    float: left;
}
#khung{
    width: 300px;
    height: 350px;
    border: 1px solid black;
    background: white;
    margin-top: 30px;
    margin-left: 100px;
}
#showpic{
    width: 260px; 
    height: 195px;
    margin-top: 10px;
    margin-left: 20px;
    background: white;
    margin-bottom: 20px;
}
.txts{
    float: right;
    margin-right: 10px;
    width: 175px;
}
.btn{
    margin-left: 55px;
    margin-top: 10px;
    width: 60px;
}
.btns{
    width: 60px;
}
#sp label{
    margin-left: 10px;
}
#listSP{
    width: 489px;
    height: 422px;
/*    background: azure;*/
    float: left;
}
#listSP table{
    background: white;
}
#col{
    margin-left: 50px;
    margin-top: 30px;
}
#scroll{
    width: 900px;
    height: 330px;
    border: 1px solid black;
    margin-left: 50px;
    overflow: scroll;
    background: #D5D5D5;
}
#footer{
	width: 980px;
	height: 75px;
	background: blue;
	padding-top: 9px;
}
#search{
	float: left;
	margin-left: 30px;
}
#oo{
	margin-top: 7px;
	width: 253px;
	height: 27px;
	border-radius: 5px;
}
#ss{
	margin-top: 7px;
	width: 76px;
	height: 27px;
	background-color: black;
	color: white;
	border-radius: 5px;
}
.sess{
	line-height: 40px;
	font-family: Tahoma;
	font-size: 12px;
	color: white;
	text-decoration: none;
	float: right;
        display: block;
        padding: 0px 15px;
}
.sess:hover{
	background: orange;
        color: black;
}
.ft{
	color: white;
	margin-left: 10px;
}
#logbox{
	width: 270px;
	height: 260px;
	background-color: white;
	margin-top: 75px;
	margin-left: 355px;
	padding-top: 15px;
	padding-left: 17px;
	border: 1px solid gray;
}
#remember{
	margin-top: 5px;
}
#logbtn{
	width: 230px;
	height: 30px;
	background-color: #D5D5D5;
	margin-bottom: 5px;
}
.nom{
	width: 230px;
	height: 30px;
	margin-bottom: 5px;
}
#dagnhap{
	color: gray;
	font-size: 22px;
	margin-left: 50px;
	font-family: tahoma;
	padding-bottom: 13px;
        font-weight: bold;
}
table{
    background:white;
}

