/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Aug 11, 2019, 8:23:25 PM
    Author     : hotua
*/
*{margin: 0;padding: 0;box-sizing: border-box;}
#wrapper{
	width: 980px;
	height: 100%;
	background: green;
	margin: auto;
}
#header{
	width: 980px;
	height: 260px;
	background: orange;

}
#headpic{
	width: 980px;
	height: 260px;	
}
#topmenu{
	width: 980px;
	height: 40px;
	background: red;
	position: fixed;
	z-index: 10;
        padding-right: 15px;
}
#center{
	width: 980px;
	height: 100%;
	background: white;
	padding-top: 22px;
}
#innerCen{
	width: 980px;
	height: 100%;
	border: 1px solid black;
	background-image: url('images/bg.jpg');
        padding-bottom: 40px;
        padding-left: 215px;
}
#footer{
	width: 980px;
	height: 75px;
	background: red;
	padding-top: 9px;
}
#topmenu ul li{
	list-style: none;
	float: left;
}
#topmenu ul li a{
	line-height: 40px;
	font-family: Tahoma;
	font-size: 14px;
	color: white;
	text-decoration: none;
	display: block;
	font-weight: bold;
	padding: 0px 15px;
}
#topmenu ul li a:hover{
	background: orange;
	color: black;
}
#search{
	float: left;
	margin-left: 30px;
}
#oo{
	margin-top: 7px;
	width: 253px;
	height: 27px;
	border-radius: 5px;
}
#ss{
	margin-top: 7px;
	width: 76px;
	height: 27px;
	background-color: black;
	color: white;
	border-radius: 5px;
}
.sess{
	line-height: 40px;
	font-family: Tahoma;
	font-size: 12px;
	color: white;
	text-decoration: none;
	float: right;
        display: block;
        padding: 0px 15px;
}
.sess:hover{
	background: orange;
        color: black;
}
.ft{
	color: white;
	margin-left: 10px;
}
#dagnhap{
	color: gray;
	font-size: 22px;
	margin-left: 50px;
	font-family: tahoma;
	padding-bottom: 13px;
        font-weight: bold;
}
#info{
    background: white;
    border: 1px solid black;
    width: 400px;
    height: 100%;
    padding-top: 15px;
    padding-left: 20px;
    padding-right: 20px;
    margin-top: 30px;
    margin-left: 70px;
}
.infor{
    float: right;
    width: 230px;
}
#info a{
    float: right;
}
#info b{
    margin-left: 40px;
    font-size: 30px;
}
#nut{
    margin-left: 120px;
}




